body {
    font-family: Arial, sans-serif;
    background-image: radial-gradient( circle 815px at 23.4% -21.8%,  rgba(9,29,85,1) 0.2%, rgba(0,0,0,1) 100.2% );
}

.navbar-brand {
    font-size: 1.5rem;
}

section {
    padding: 50px 0;
    border-radius: 10px;
}

#sobre {
    background-color: #f9f9f9;
}

.card {
    width: 320px;
    height: 350px;
    background: rgb(255, 255, 255);
    border-radius: 0.4em;
    box-shadow: 0.3em 0.3em 0.7em #00000015;
    transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: rgb(250, 250, 250) 0.2em solid;
    margin: auto; /* Center the card */
    margin-bottom: 20px;
}

.card:hover {
    border: #006fff 0.2em solid;
}

.card img {
    width: 100%;
    height: 150px;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
}

.card-body {
    padding: 1em;
}

.card-title {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.card-text {
    font-size: 0.9em;
    margin-bottom: 1em;
}

.btn {
    width: 100%;
}



















.card2 {
    display: flex;
    width: 250px;
    height: 50px;
    /* gap: 1.2rem; */
    background-color: whitesmoke;
    border-radius: 115px;
    padding-inline: 15px;
    position: relative;
    justify-content: space-around;
    /* align-items: center; */
  }
  
  .social-icons {
    cursor: pointer;
    display: flex;
    transition: all 0.5s;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    font-weight: bold;
    font-size: small;
  }
  
  .social-icons > p {
    --var: -0%;
    position: absolute;
    top: var(--var);
    transition: all 0.7s;
    background-color: dodgerblue;
    border-radius: 7px;
    opacity: 0;
    padding-inline: 7px;
    padding-block: 3px;
    width: max-content;
  }
  .social-icons > p::after {
    content: "";
    position: absolute;
    border-top: 10px solid dodgerblue;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
  }
  .social-icons > a {
    --var: -0%;
    position: absolute;
    bottom: var(--var);
    width: max-content;
    transition: all 0.7s;
    opacity: 0;
    padding-inline: 7px;
    padding-block: 3px;
    background-color: crimson;
    border-radius: 7px;
  }
  .social-icons > a::after {
    content: "";
    position: absolute;
    border-bottom: 10px solid crimson;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%);
  }
  
  .social-icons:hover > a,
  .social-icons:hover > p {
    --var: -65%;
    opacity: 1;
  }
  
  .social-icons:hover {
    z-index: 15;
  }
  
  .card2:hover > .social-icons:not(:hover) {
    filter: blur(3px);
    transform: scale(0.8);
  }
  
  .card2 svg {
    height: 30px;
  }
  
  /* Adicionando espaçamento entre os cards do carrossel */
.carousel-item .card {
  margin-bottom: 1rem;
}

.card-body h5 {
  font-size: 1.25rem;
}

.card-body p {
  font-size: 1rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
  border-radius: 50%;
}

.carousel-inner {
  margin-top: 1rem;
}
