body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient( 111.4deg,  rgba(7,7,9,1) 6.5%, rgba(27,24,113,1) 93.2% );

}
.navbar{
  background-image: linear-gradient( 85.2deg,  rgba(33,3,40,1) 7.5%, rgba(65,5,72,1) 88.7% );
}

.navbar-brand {
    font-size: 1.5rem;
    
}

section {
    background-image: linear-gradient( 85.2deg,  rgba(33,3,40,1) 7.5%, rgba(65,5,72,1) 88.7% );
    padding: 50px 0;
    border-radius: 10px;
    color:aliceblue;
}

#sobre {
    background-color: #f9f9f9;
}

.card {
    width: 320px;
    height: 350px;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(100,43,115,1) 0%, rgba(4,0,4,1) 90% );
    border-radius: 0.4em;
    box-shadow: 0.3em 0.3em 0.7em #00000015;
    transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: rgb(250, 250, 250) 0.2em solid;
    margin: auto; 
    margin-bottom: 20px;
}

.card:hover {
    border: #006fff 0.2em solid;
}

.card img {
    width: 100%;
    height: 150px;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
}

.card-body {
    padding: 1em;
}

.card-title {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.card-text {
    font-size: 0.9em;
    margin-bottom: 1em;
}

.btn {
    width: 100%;
}



















.card2 {
    display: flex;
    width: 250px;
    height: 50px;
    background-color: whitesmoke;
    border-radius: 115px;
    padding-inline: 15px;
    position: relative;
    justify-content: space-around;
  }
  
  .social-icons {
    
    cursor: pointer;
    display: flex;
    transition: all 0.5s;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    font-weight: bold;
    font-size: small;
  }
  
  .social-icons > p {
    --var: -0%;
    position: absolute;
    top: var(--var);
    transition: all 0.7s;
    background-color: dodgerblue;
    border-radius: 7px;
    opacity: 0;
    padding-inline: 7px;
    padding-block: 3px;
    width: max-content;
  }
  .social-icons > p::after {
    content: "";
    position: absolute;
    border-top: 10px solid dodgerblue;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
  }
  .social-icons > a {
    --var: -0%;
    position: absolute;
    bottom: var(--var);
    width: max-content;
    transition: all 0.7s;
    opacity: 0;
    padding-inline: 7px;
    padding-block: 3px;
    background-color: crimson;
    border-radius: 7px;
  }
  .social-icons > a::after {
    content: "";
    position: absolute;
    border-bottom: 10px solid crimson;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%);
  }
  
  .social-icons:hover > a,
  .social-icons:hover > p {
    --var: -65%;
    opacity: 1;
  }
  
  .social-icons:hover {
    z-index: 15;
  }
  
  .card2:hover > .social-icons:not(:hover) {
    filter: blur(3px);
    transform: scale(0.8);
  }
  
  .card2 svg {
    height: 30px;
  }
  
  /* Adicionando espaçamento entre os cards do carrossel */
.carousel-item .card {
  margin-bottom: 1rem;
}

.card-body h5 {
  font-size: 1.25rem;
}

.card-body p {
  font-size: 1rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
  border-radius: 50%;
}

.carousel-inner {
  margin-top: 1rem;
}

.ver-mais {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
}

.birita{
    transform: translate(35%);
  justify-content: center;
}